body {
	background-image: url('bg_image.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-color: #14295A /*#124273*/;
	background-size: 1300px 650px;
	animation-name: change;
	animation-duration: 4s;
	animation-iteration-count:infinite;
	color: white; 	
}

/* @keyframes change {
 	from {background-color: #14295A; color: white;}
	to {background-color: #FFFFA0; color: black;}
 } */

#trees_bg {
	text-align: center;
	font-family: 'Prata', sans-serif;
	font-size: 10px;
}

#title_site {
	font-family: 'Opens Sans', sans-serif;
	font-size: 40px;
	margin-bottom: 0px;
}

input[type=text] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	/*border-bottom: 2px solid black;*/
	font-family: 'Prata', sans-serif;
}

input[type=submit] {
	width: 5%;
	padding: 12px 12px;
	border: none;
	border-radius: 2%;
	font-family: 'Prata', sans-serif;
}

.city-name {
	font-size: 20px;
}

.temperature {
	font-size: 15px;
}

.info {
	font-family: 'Prata', italic;
	font-size: 12px;
}

a img {
	border: 0 none;	
}

a:-webkit-any-link {
	text-decoration: none;
}

#day {
	margin-right: 5px;
	text-decoration: none;
}

#night {
	margin-left: 5px;
	text-decoration: none;
}

footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	font-size: 10px;
}

@media screen and (max-width: 1060px) {
	body {
		background-size: cover;
	}

	#city_name {
		width: 100%;
	}
	#sub_btn {
		width: 100%;
	}
}
/*
#E4572E

#FFFFA0
*/	
