* {
    padding: 0;
    margin: 0;    
}
body {
    font-family: 'Freckle Face', cursive;
    font-size: 40px;
}
header {
    text-align: center;
}
.one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}