*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Amiri', serif;
    font-size: 10px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

body {
    background-color: brown;
}

/*header*/
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2); /*!!!!!!!!!!!!!*/
}

.nav-brand {
    width: 4rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: white;
    cursor: pointer;
}

.close i {
    color: black;
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: rgb(190, 174, 174);
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;    
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: black;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(22,16,50,0.9) 0%,rgba(58,44,124,0.7315301120448179) 50%, rgba(22,16,50,0.8491771708683473) 100%), url('images/bg.jpg') center no-repeat fixed; 
    background-size: cover;
    position: relative; 
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background: url('images/wall.png') center no-repeat;
    background-size: cover;
}

.main-message {
    width: 100%;
    max-width: 50rem;
    color: white;
    text-transform: uppercase;
    transform: translateY(20%);
}

.main-message h3 {
    font-size: 1.6rem;
}

.main-message h1 {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.main-message p {
    text-transform: lowercase;
}

.r {
    text-transform: uppercase;
}

.btn {
    background-color: rgb(100, 26, 26);
    border-radius: 2rem;
    color: white;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: 900ms;
}

.btn:hover{
    background-color: black;
}

.title-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, 1)
}

.title-heading h3 {
    font-size: 1.4rem;
}

.title-heading h1 {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    margin: .5rem 0 1rem; 
}

.title-heading p {
    text-transform: lowercase;
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.characters-grid-item {
    height: 40rem;
    padding: 5rem;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    border-radius: 5%;
}

.characters-grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(22,16,50,0.9) 0%,rgba(58,44,124,0.7315301120448179) 50%, rgba(22,16,50,0.8491771708683473) 100%);
    z-index: -1;    
    border-radius: 5%;
}

.characterlist {
    background: url('images/t_1.jpg') center no-repeat;
}

.themes {
    background: url('images/t_2.jpg') top no-repeat;
}

.listbooks {
    background: url('images/t_3.jpg') center no-repeat;
}

.characters-grid-item i {
    font-size: 4rem;
    color: brown;
}

.characters-grid-item h1 {
    font-family: 'Amiri', serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

.author {
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, rgba(22,16,50,0.9) 0%,rgba(58,44,124,0.7315301120448179) 50%, rgba(22,16,50,0.8491771708683473) 100%), url('images/bg_2.jpg') center no-repeat fixed; 
    background-size: cover;
    position: relative; 
}

.author::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background: url(images/wall_2.png) center no-repeat;
    background-size: cover;
}

.author-panel {
    width: 100%;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.author-textbox {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.author-textbox i {
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    color: brown;
    z-index: -1;
}

.author-photo img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid brown;
}

.aboutus-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.aboutus-grid-item p {
    color: black;
}

footer {
    padding: 2.5rem 0;
    background-color: rgba(22,16,50,1);
    text-align: center;
    color: white;
}

@media screen and (min-width: 350px) {
    .main-message {
        transform: translateY(40%);
    }

}

